<nav class=" navbar-dark bg-dark ">
    <ul class="navbar-nav  d-flex flex-row justify-content-around p-4">
        <li class=""><a href="/">Home</a></li>
        <li class=""><a href="/cats" >All Cats</a></li>
        <li class=""><a href="/cats/new" >New Cat</a></li>
    </ul>
</nav>