<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Cats</title>
</head>
<body>
    <h1>All Cats</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cats">All Cats</a></li>
        <li><a href="/cats/new">New Cat</a></li>
    </ul>
    <ul>
        <% for (let i = 0; i < cats.length; i++) { %>
            <li style="margin-bottom: 20px;">
                <a href="/cats/<%= cats[i]._id %>">
                    <%= cats[i].name %>
                </a>
            </li>
        <% } %>
    </ul>
</body>
</html>